/* flex布局公共样式 */
.flex{
    display: flex;
}
.direction-row{
    flex-direction: row;
}
.direction-row-reverse{
    flex-direction: row-reverse;
}
.direction-coloumn{
    flex-direction:column
}
.direction-coloumn-reverse{
    flex-direction:column-reverse
}
.nowrap{
    flex-wrap: nowrap;
}
.wrap{
    flex-wrap: wrap;
}
.wrap-reverse{
    flex-wrap: wrap-reverse;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content:flex-end
}
.justify-content-between{
    justify-content:space-between
}
.justify-content-around{
    justify-content:space-around
}
.align-item-start{
    align-items:flex-start
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items:flex-end
}
.alin-items-stretch{
    align-items:stretch
}
.align-item-baseline{
    align-items:baseline
}
.flex-one{
    flex: 1;
}